body {
  margin: 0;
}

#content {
  margin: 8px;
}

.entry-content {
  max-width: 100% !important;
  object-fit: scale-down !important;
}

button, .toolbar input, .submit input, .select, .qr-body button, #subject_divs button, input, select, textarea {
  border-radius: 10px;
  border: 1px solid #38383d !important;
  box-shadow: none;
  text-shadow: none;
}

button, input[type="button"], input[type="submit"] {
  padding: .5em;
}

.lj_userpicselect_extra {
  border: 0 !important;
  padding: 0 !important;
}

/* nuke the bottom scrolling created by the inbox items div on the main page */
.appwidget-latestinbox .item {
  width: unset;
}