#opt-button {
  background-color: #624040;
  color: #d6d1d1;
  font-size: small;
  font-family: Verdana;
  text-align: center;
  display: inline-block;
  position: fixed;
  opacity: 0.5;
  border: 1px solid #d6d1d1;
  border-radius: 65px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  padding: 10px;
  right: 3%;
  bottom: 5%;
  z-index: 1200;
}

#opt-button:hover {
  background: #a35359;
  opacity: 1;
  cursor: pointer;
}

.dark #opt-button {
  background: #eaeaea;
  color: #111;
}

#opt-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  background: rgba(0,0,0,0.45);
  display: none;
  z-index: 1005;
}

.op {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  width: 40%;
  border: 5px solid black;
  border-radius: 15px;
  background: #624040;
  color: #d6d1d1;
  line-height: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transform: translate(-50%,-50%);
  transition: all .4s ease-in-out;
}

h3 .op {
  text-align: center;
}

#close-opt {
  text-align: center;
}

#icons-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0,0,0,0.45);
  z-index: 1004;
  display: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 25px;
  width: 950px;
  height: 55%;
  border: 5px solid #7a7a7a;
  border-radius: 15px;
  background: #624040;
  color: #d6d1d1;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transform: translate(-50%,-50%);
  transition: all .4s ease-in-out;
}

.dark .modal {
  background: #eaeaea;
  color: #111;
}

#modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

hr {
  width: 98%;
  text-align: center;
}

#header {
  text-align: left;
  font-size: small;
  margin: 5px;
  height: 2.3rem;
}

#keyword-label {
  display: inline-block;
}

#keywords {
  display: none;
  padding: 10px;
  text-decoration: underline;
  text-align: center;
}

#icon-browser-close {
  float: right;
  font-size: 2.0rem;
  position: absolute;
  top: 0;
  border: none;
  padding-right: 5px;
  right: 0;
  color: #c1272d;
  background: none;
  font-weight: bold;
  font-family: Verdana;
  cursor: pointer;
  text-decoration: none;
}

#icon-browser-close:hover {
  color: #7a7a7a;
}

#modal-body {
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.icon {
  border: solid 10px #2e2e2e;
  height: 100px;
  display: inline-block;
  margin: 5px;
}

.icon:hover {
  border: solid 10px #7a7a7a;
  cursor: pointer;
}

.icon:focus, div[role=selected] {
  border: solid 10px #7a0000;
}

#icons-list {
  text-align: center;
}

/* Responsive design!! */
@media screen and (max-width: 600px) {
	.modal, .options {
		width: 95%;
    height: 95%;
    margin-top: 0;
	}
}

@media screen and (max-width: 600px) {
	#modal-guts {
		width: 95%;
    height: 85%;
    margin-top: 0;
	}
}
