@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* ~animations wheee~ */
@keyframes l-slidey {
  from {left: -300px; opacity: 0}
  to {left: 0; opacity: 1}
}
@keyframes r-slidey {
  from {right: -300px; opacity: 0}
  to {right: 0; opacity: 1}
}
@keyframes back-slidey {
  from {left: 0; opacity: 1}
  to {left: -300px; opacity: 0}
}
@keyframes slidey {
  from {top: -300px; opacity: 0}
  to {top: 50%; opacity: 1}
}
@keyframes b-slidey {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}
@keyframes fadey {
  from {opacity: 0}
  to {opacity: 1}
}

body.hb-open {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px; /* Avoid width reflow */
}

/* HAMBURGER BUTTON */
/* hb button top strip: */
#hb-strip {
  border-bottom: 5px solid #f4717a;
  width: 100%;
  height: 60px;
  background: url("../img/dw-logo.png") no-repeat center;
  display: inline-flex;
  justify-content: left;
  top: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.dark #hb-strip {
  border-bottom: 5px solid #624040;
}

#hb-strip.align-right {
  justify-content: right;
}

#hb-button {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 0.3em;
  margin-bottom: 0.5em;
  width: 40px;
  cursor: pointer;
  z-index: 200;
}
.dark #hb-button {
  margin-left: 0.5em;
}
#hb-button:after, #hb-button:before, #hb-button div {
  background-color: rgba(0, 0, 0, 0.54);
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
}
.dark #hb-button:after, .dark #hb-button:before, .dark #hb-button div {
  background-color: rgb(215, 215, 215);
}
#hb-button.hb-active:before {
  transform: translateY(12px) rotate(135deg);
}
#hb-button.hb-active:after {
  transform: translateY(-12px) rotate(-135deg);
}
#hb-button.hb-active div {
  transform: scale(0);
}

/* HAMBURGER MENU FOR MOBILE */
#hb-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0,0,0,0.45);
  z-index: 25;
  visibility: hidden;
  animation-name: fadey;
  animation-duration: 0.7s;
}

#hb-menu {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  position: absolute;
  top: 0;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  width: auto;
  height: 100%;
  background-color: #ececec;
  border-right: 1px solid grey;
}

.dark #hb-menu {
  background-color: #38383d;
}

#hb-menu.right.visible {
  animation: r-slidey 0.7s;
}

#hb-menu.left.visible {
  animation: l-slidey 0.7s;
}

#hb-menu.left {
  left: 0;
}

#hb-menu.right {
  right: 0;
}

#hb-menu.hori {
  flex-direction: row;
  flex-flow: nowrap;
  max-height: 60%;
  height: auto;
  width: 100%;
  justify-content: center;
}

.hori #dw-links {
  display: inline-flex;
  flex-direction: row;
  flex-flow: wrap;
}

#dw-links div {
  padding-left: 10px;
  padding-right: 10px;
}

#hb-menu hr {
  width: 95%;
  text-align: center;
  margin: 0.5em;
}

.hori #hb-menu hr {
  width: 100%;
}

.hori #fav-links {
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.hori #fav-links div {
  padding-right: 10px;
  padding-left: 10px;
}

#dw-user img {
  border: 5px solid #f4717a;
  border-radius: 50%;
}

.dark #dw-user img {
  border: 5px solid #984e4e;
}

#hb-menu #dw-user {
  text-align: center;
  margin-top: 55px;
}

.hb-nav {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
}

#dw-links, #fav-links, #bookmarks-header {
  line-height: 1.2em;
}

#dw-links a, #fav-links a {
  text-decoration: none;
}

#fav-header, #edit-shortcuts {
  text-align: center;
}
#edit-shortcuts p {
  margin-bottom: 0;
}

#dwidgets {
  display: flex;
  float: right;
  padding-top: 0;
  margin: 0;
}

.right #dwidgets {
  float: left;
}

.hori #dwidgets {
  float: left;
}

#dwidgets .material-icons {
  font-size: 38px;
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  color: rgba(0, 0, 0, 0.54);
}

.dark #dwidgets .material-icons {
  color: rgb(215, 215, 215)
}

#bookmarks-header {
  text-align: center;
}

#edit-faves {
  /* background-color: #38383d;
  border: 1px solid grey !important;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  margin-left: 0px;
  box-shadow: none;
  color: #e2e2e2; */
  text-decoration: underline;
  color: inherit;
}

#hb-footer {
  font-size: 15px;
  color: #9a9a9a;
  text-align: center;
  align-self: flex-end;
  bottom: 0;
  margin: 15px;
}
#hb-footer a {
  color: inherit;
}

/* CONTROL STRIP LINKS */
.controlstrip-links:hover, #faves-container a:hover, #faves-header-cs i:hover {
  cursor: pointer;
}

#faves-container {
  display: none;
  justify-items: center;
  height: 0;
  width: 100%;
  transition: height 0.5s;
}

#faves-container.open {
  display: inline-block;
  height: auto;
  max-height: 65%;
  overflow: auto;
}

#faves-cs-body {
  background-color: inherit;
  text-align: center;
  font-size: small;
  padding: 10px;
}

#cs-faves {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* DESKTOP BUTTONS */
#desktop-buttons {
  position: fixed;
  text-align: right;
  right: 2%;
  bottom: 4%;
  z-index: 1000;
}

#opt-button .material-icons, #faves-button .material-icons {
  font-size: 1.2em !important;
  line-height: inherit;
}

/* .faves_list {
  visibility: hidden;
} */

.dwidgets-buttons {
  display: inline-block;
  text-align: center;
  background: #eaeaea;
  color: #111;
  line-height: 1.8em;
  height: 1.8em;
  width: 1.8em;
  opacity: 0.5;
  margin: 5px;
  border: 1px solid #d6d1d1;
  border-radius: 65px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  /* padding: 10px; */
  transition: all 0.4s linear;
  /* width: 1.4em; */
}

.dwidgets-buttons.active {
  opacity: 0.8;
}

#menu-faves {
  display: none;
  animation: b-slidey 0.7s reverse;
}
#menu-faves.active {
  display: inline-block;
  animation: b-slidey 0.7s normal;
}

.bookmark {
  display: inline-block;
  margin: 5px 0;
  background: #eaeaea;
  color: #111;
  font-size: 1em !important;
  text-align: center;
  line-height: 1.8em;
  height: 1.8em;
  opacity: 0.8;
  border: 1px solid #d6d1d1;
  border-radius: 65px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  transition: all 0.4s linear;
  width: auto;
  padding: 0 0.5em;
}

#opt-button:hover, #faves-button:hover, .bookmark:hover {
  background: #a35359;
  opacity: 1;
  cursor: pointer;
}

.dark #opt-button, .dark #faves-button, .dark .bookmark {
  background-color: #624040;
  color: #d6d1d1;
}

/* OPTIONS MENUS */
#opt-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0,0,0,0.45);
  display: none;
  z-index: 1200;
  animation-name: fadey;
  animation-duration: 0.7s;
}

.op {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 10px;
  margin-top: 0;
  width: 45%;
  background: #624040;
  color: #d6d1d1;
  border: 5px solid black;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transform: translate(-50%,-50%);
  animation-name: slidey;
  animation-duration: 0.5s;
  z-index: 1300;
}

.op p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.op input {
  background-color: #737373;
  border-color: #5c5c5c;
  color: #fff;
  border-style: solid;
  border-width: 1px;
}

/* .tropo .op {
  line-height: 1.35em;
} */

/* Responsive design!! */
@media screen and (max-width: 600px) {
	.op {
		width: 95%;
    margin-top: 0;
	}
}

.op .tabs {
  text-align: center;
  border-bottom: 5px solid #000000;
  margin: 0;
}

.op .tabs p {
  margin: 0;
}

.tab-button {
  padding: 10px 10px 1px 10px;
  margin-bottom: 0;
  color: #d6d1d1;
  border-radius: 0;
  border: none;
}

.none {
  background-color: #000000 !important;
  transition-property: background-color;
  transition-duration: 0.4s;
  transition-timing-function: linear;
}

.none:hover {
  background-color: #9e1f26 !important;
  cursor: pointer;
}

.selected-tab {
  background: #4f4f56 !important;
}

.current-tab {
  display: block;
  line-height: 1.2em !important;
  animation-name: fadey;
  animation-duration: 0.7s;
}

.hidden-pg {
  display: none;
  animation-name: fadey;
  animation-duration: 0.7s;
}

.op-header {
  margin-bottom: 10px;
  /* padding: 10px; */
  text-align: center;
  font-weight: bold;
  font-size: 2.6em;
  font-family: 'Dancing Script', cursive;
  line-height: 1.0em;
  /* border-bottom: 5px solid #000000; */
}

.opt-footer {
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  border-top: 5px solid #000000;
}

#close-opt {
  text-align: center;
}

/* ~FAVES TAB~ */
.shortcut .material-icons {
  font-weight: bold;
  font-size: 34px;
}

.shortcut .material-icons:hover {
  cursor: pointer;
  color: #9e1f26;
}

.shortcut {
  width: 90%;
  display: inline-block;
}
.rmfav {
  display: inline-block;
}

#fav-name {
  width: 150px;
}

#fav-url {
  width: 100px;
}

/* ~ICON BRWOSER STUFF STARTS HERE~ */
#icons-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #000;
  background: rgba(0,0,0,0.45);
  z-index: 1000;
  display: none;
  animation-name: fadey;
  animation-duration: 0.7s;
}

#icon-modal.boxey {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  top: 50%;
  left: 50%;
  margin: 25px;
  width: 1045px;
  max-width: 98%;
  height: 640px;
  max-height: 100%;
  border: 5px solid #7a7a7a;
  border-radius: 15px;
  background-color: #ececec;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transform: translate(-50%,-50%);
  transition: all .4s ease-in-out;
  z-index: 1010;
}

#icon-modal.mobile {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  align-content: flex-start;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  z-index: 5;
  background-color: #ececec;
  border-right: 1px solid grey;
}

@media screen and (max-width: 600px) {
  #icon-modal.mobile {
    width: 100%;
    margin-top: 0;
  }
 }

.dark #icon-modal {
  background: #624040;
  color: #d6d1d1;
  border-right: 5px solid #7a7a7a;
}

#icon-modal p {
  margin: 0;
}

#icon-header {
  display: inline-flex;
  position: absolute;
  justify-content: space-between;
  align-content: flex-start;
  margin: 8px;
  padding-top: 0;
  font-size: small;
  /* border-bottom: 5px solid black; */
  width: 100%;
  height: auto;
}

#radio-ib {
  text-align: left;
  padding: 10px;
}

#icon-header #selectB {
  justify-self: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.4s linear;
}

#icon-header #selectB:hover {
  background-color: #97272b;
}

#icon-header #keyword-opt {
  text-align: left;
  padding: 10px;
  display: inline-block;
}

#icon-header #keyword-label {
  display: none;
  margin-left: 5px;
  margin-right: 5px;
  animation-name: fadey;
  animation-duration: 0.7s;
}

#icon-header #keywords {
  padding-left: 5px;
  text-decoration: underline;
  animation-name: fadey;
  animation-duration: 0.7s;
}

#icon-header .material-icons.md-48 {
  font-size: 45px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top: 0;
  margin-left: 5px;
  margin-right: 10px;
  padding: 0;
  color: #313131;
  transition: all 0.4s linear;
}

#icon-header .material-icons.md-48:hover {
  color: #c1272d;
}

.dark #icon-header .material-icons.md-48 {
  color: #acacac;
}

.dark #icon-header .material-icons.md-48:hover {
  color: #c1272d;
}

#modal-body {
  position: absolute;
  overflow-x: auto;
  overflow-y: auto;
  /* background: #624040; */
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  top: 50px;
  bottom: 0;
  width: 100%;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  #modal-body {
    top: 60px;
  }
 }

.usericon {
  display: inline-block;
  border: solid 10px #2e2e2e;
  height: auto;
  padding: 0;
  margin: 5px;
  height: 100px;
  transition: all 0.4s linear;
}

.new-entry {
  display: inline-block;
  border: solid 10px #2e2e2e;
  height: auto;
  padding: 0;
  margin: 5px;
  transition: all 0.4s linear;
}

.usericon:hover {
  border: solid 10px #7a7a7a;
  cursor: pointer;
}

.usericon:focus, div[role=selected] {
  border: solid 10px #7a0000;
}

#icons-list {
  text-align: center;
}

#icon-browse input {
  width: 100%;
}

#icon-preview {
  margin: 10px !important;
  text-align: center !important;
}

/* New comment form */
#new_reply {
  margin-left: 15px;
}

#userspics {
  width: 30%;
}

#commenttext {
  width: 40%;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
 #user-icons, #commenttext {
   width: 95%;
   margin-top: 0;
 }
}