#opt-button {
  background-color: #624040;
  color: #d6d1d1;
  font-size: small;
  font-family: Verdana;
  text-align: center;
  display: inline-block;
  position: fixed;
  opacity: 0.5;
  border: 1px solid #d6d1d1;
  border-radius: 65px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  padding: 10px;
  right: 3%;
  bottom: 5%;
  z-index: 1200;
}

#opt-button:hover {
  background: #a35359;
  opacity: 1;
  cursor: pointer;
}

.dark #opt-button {
  background: #eaeaea;
  color: #111;
}

#opt-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  background: rgba(0,0,0,0.45);
  display: none;
  z-index: 1005;
}

.op {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  width: 40%;
  border: 5px solid black;
  border-radius: 15px;
  background: #624040;
  color: #d6d1d1;
  line-height: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transform: translate(-50%,-50%);
  transition: all .4s ease-in-out;
}

h3 .op {
  text-align: center;
}

#close-opt {
  text-align: center;
}

#icons-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  background: rgba(0,0,0,0.45);
  z-index: 1004;
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;
  width: 65%;
  border: 5px solid black;
  border-radius: 15px;
  background: #624040;
  color: #d6d1d1;
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  transform: translate(-50%,-50%);
  transition: all .4s ease-in-out;
  overflow-y: initial !important;
}

.dark .modal {
  background: #eaeaea;
  color: #111;
}

hr {
  width: 95%;
}

#header {
  text-align: left;
  font-size: small;
  margin-top: 5px;
}

#icon-browser-close {
  margin-top: 1px;
  float: right;
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  right: .6875rem;
  color: #c1272d;
  font-weight: bold;
  font-family: Verdana;
  cursor: pointer;
  text-decoration: none;
}

#footer {
  text-align: center;
  height: auto;
}

#modal-body {
  position: relative;
  overflow-y: auto;
  height: 45%;
  z-index: 20;
  padding: 5px;
  margin: 0;
}

/* #keywords {
  width: 100px;
  font-size: small;
} */

.icon {
  border: solid 10px #2e2e2e;
  display: inline-block;
  margin: 5px;
  height: 100px;
}

.icon:hover {
  border: solid 10px #7a7a7a;
  cursor: pointer;
}

[attribute="selected"] {
  border: solid 10px #7a0000;
}

[attribute="selected"]:hover {
  border: solid 10px #7a7a7a;
  cursor: pointer;
}

#icons-list {
  text-align: center;
}

@media screen and (max-width: 600px) {
	.modal, .options {
		width: 95%;
    height: 95%;
    margin-top: 0;
	}
}

@media screen and (max-width: 600px) {
	#modal-body {
		width: 95%;
    height: 85%;
    margin-top: 0;
	}
}
