/* wasteyard CSS */
body {
  background: #353535 !important;
  color: #c1c1c1 !important;
}

.header {
  background: #626262;
  color: #000;
}

img[src*="identity/user.png"] {
  filter: invert(100%);
}

.contents .userpic img, .tag {
  border: #737373 5px solid;
  box-shadow: 0 0 2px #737373;
}

textarea {
  background: #1a1a1a;
  color: #adabab;
  font: 14px monospace; /* cos the text is too small :( */
}

#secondary a {
  color: #a6a5a5;
}
